{% extends "blog/layout.html" %}
{% block body %}
<br>
{% for Blog in Blogs %}
<div class="row container mt-5">
    <img src="/media/{{ Blog.thumnail }}" class="img-fluid col-lg-5">
    <div class="col-lg-7">
        <h4>{{ Blog.title }}</h4>
        <span id="GreyFont">Posted on {{ Blog.date }}</span>
        <p>
                {% autoescape off %}
                {{ Blog.content|truncatechars:180 }}..
            {% endautoescape %}
        </p>
        <br> <br>
        <a class="btn btn-outline-primary" style="position: absolute; bottom: 10px;" href="/post/{{ Blog.category }}/{{Blog.id}}" role="button">
                Read
        </a>
    </div>
</div>
<div class="container">
    <hr>
</div>
{% endfor %}
{% endblock %}